* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 30px;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }
  
  .title {
    font-family: "Press Start 2P", system-ui;
  }
  

 a, a:visited {
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
  
  .fullNav {
    display: block;
  }

  .mobileNav {
    display: none;
  }
  
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px;
  }
  
  .mainContainer > h2 {
    font-family: "Press Start 2P", system-ui;
  }
  
  .mainLeft {
    width: 50%;
    text-align: left;
  }
  
  .portrait {
    border-radius: 50%;
    height: 350px;
    width: 350px;
  }
  
  .projectContainer {
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
  }

  .project {
    height: 340px;
    width: 390px;
    border: 1px solid grey;

  }

  .project > h3 {
    padding: 5px;
  }

  .project > p {
    padding: 5px;
  }

  .projectImgContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .navOverlay {
    display: none;
  }

  .social {
    height: 70px;
  }

  @media screen and (max-width: 800px){
    .fullNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        /* flex-direction: column; */
        cursor: pointer;
    }
    .navOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        font-size: 2.3em;
        display: none; /* Initially hidden */
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        backdrop-filter: blur(10px);
        border-right: 2px solid grey;
    }
    .navOverlay img {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .mainContainer {
        padding: 0;
    }

    .portrait {
        border-radius: 50%;
        height: 15em;
        width: 15em;
      }

      .projectContainer {
        justify-content: center;
      }
  }